.update-Profile{
    background-color: #f2f2f2;
}
.profile-Image {
    border-color: #FF9770;
}
.update-Input {
    width: 75%;
    height: 450px;
    border-radius: 2px;
    background-color: #ffffff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 
    0 1px 2 px 0 rgba(0, 0, 0, 0.2);
}
.first-Name-Input {
    border-color: #FF9770;
}
.last-Name-Input {
    border-color: #FF9770;
}
.update-button {
    border-color: black;
}
.cancel-button {
    border-color: black;
}